:root {
  --primary-color: #9356dc;
  /* var(--primary-color) */
  --second-color: #ff79da;
  /* var(--second-color) */
  --tertiaire-color: #99e2d0;
  /* var(--tertiaire-color) */
}

.container__function {
  max-width: 375px;
  background-color: white;
  margin-left: 17px;
  margin-right: auto;
  font-style: normal;
  font-family: Roboto;
  line-height: normal;
}

/* body */
body {
  margin: 0px;
}

header {
  font-family: Roboto;
  size: 30px;
}
header .image {
  display: flex;
  justify-content: center;
}
header .image .header__image__size {
  height: 36px;
  margin: 20px 0 10px 0;
}
header .image i {
  position: relative;
  right: 50px;
  top: 30px;
  font-size: 30px;
}
header .header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  position: relative;
}
header .header__location i {
  margin-right: 17px;
}

.title__color {
  background-color: #f6f6f6;
}
.title__color h2 {
  display: flex;
  margin: 0px 58px 0px 42px;
  width: 275px;
  height: 68px;
  font-size: 24px;
  text-align: center;
  color: #000;
  padding-top: 40px;
}
.title__color p {
  width: 315px;
  margin: 0px 26px 0px 34px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: gray;
}
.title__color .button__filter {
  display: flex;
  justify-content: center;
  padding-bottom: 57px;
  padding-top: 22px;
}
.title__color .button__filter .button {
  height: 50px;
  width: 218px;
}
.title__color .button__filter .button__gradient {
  border-width: 0;
  background: linear-gradient(to right bottom, var(--second-color), var(--primary-color));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.title__color a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

/* fonction*/
.function {
  padding: 48px 0px 2px 20px;
  margin: 0px;
}

.button__rond {
  border-color: transparent;
  border-radius: 20px;
}

.button__size {
  width: 350px;
  height: 72px;
  top: 505px;
}

.button__white {
  background-color: white;
}

.filter__function {
  display: flex;
  margin: 24px;
  justify-content: center;
  align-items: center;
}
.filter__function i {
  padding-inline: 0px 35px;
}
.filter__function .purple {
  color: var(--primary-color);
}
.filter__function p {
  font-size: 16px;
  font-weight: 500;
}
.filter__function .number {
  border-radius: 90px;
  width: 24px;
  height: 24px;
}
.filter__function .number__position {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 10px;
  margin-block: auto;
}
.filter__function .number__color {
  background-color: var(--primary-color);
  color: white;
}

/* Card */
.Card__Restaurants {
  padding: 0 17px;
  margin: 0;
  background-color: whitesmoke;
  position: relative;
}
.Card__Restaurants .Card {
  background-color: white;
  border-radius: 15px;
  height: 300px;
  width: 340px;
  margin: 20px 0 0 0;
}
.Card__Restaurants .Card img {
  height: 200px;
  width: 340px;
  border-radius: 15px 15px 0 0;
}
.Card__Restaurants .Card__text {
  padding: 0 0 12px 13px;
}
.Card__Restaurants .Card__text i {
  bottom: 50px;
}
.Card__Restaurants .Card__text i {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 293px;
  width: 22px;
  font-size: 22px;
  border-radius: 50%;
}
.Card__Restaurants .Card__text i:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.Card__Restaurants .Card__text i:hover::before {
  font-weight: bold;
}

.Card__text__over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 250px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: var(--tertiaire-color);
}

.title__photo img {
  width: 375px;
  height: 275px;
  position: relative;
  top: 60px;
}

/* page restaurant*/
.container__radius {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  background-color: #f6f6f6;
}
.container__radius .title__restaurant {
  padding-top: 32px;
  font-weight: 400;
  font-family: Shrikhand;
  font-size: 28px;
}
.container__radius .title__restaurant i {
  bottom: 30px;
}
.container__radius .title__restaurant i {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 293px;
  width: 22px;
  font-size: 22px;
  border-radius: 50%;
}
.container__radius .title__restaurant i:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.container__radius .title__restaurant i:hover::before {
  font-weight: bold;
}
.container__radius .different__menus {
  display: grid;
  grid-gap: 12px;
}
.container__radius .different__menus h2 {
  border-bottom-style: solid;
  width: 40px;
  border-color: var(--tertiaire-color);
}
.container__radius .different__menus h3 {
  display: flex;
  height: 21px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  margin: 8px 0 2px 8px;
}
.container__radius .different__menus h4 {
  display: flex;
  height: 19px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin: 2px 0 0 8px;
}
.container__radius .different__menus p {
  position: relative;
  bottom: 30px;
  left: 140px;
}

.page {
  padding: 0;
}

/* footer */
footer {
  background-color: #353535;
  color: white;
}
footer .footer__function {
  margin-left: 20px;
  padding-bottom: 1%;
}
footer h1 {
  margin: 0px;
  padding-top: 21px;
  font-size: 18px;
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
}
footer p {
  font-size: 16px;
  padding-bottom: 7px;
  margin: 0;
}
footer i {
  margin-right: 11px;
  width: 11px;
  height: 13px;
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1440px;
    align-items: center;
    padding: 0;
  }
  .title__color {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 10px;
    gap: 30px;
    align-items: center;
  }
  .title__color h2 {
    width: 645px;
    height: 68px;
    font-size: 40px;
    color: #000;
  }
  .title__color p {
    width: 531px;
    margin: 0px 26px 0px 34px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
    color: gray;
  }
  .filter {
    display: flex;
  }
  .filter .filter__function {
    margin: 24px;
    justify-content: center;
    align-items: flex-start;
  }
  .filter .filter__function i {
    padding-inline: 0px 35px;
  }
  .filter .filter__function p {
    font-size: 16px;
    font-weight: 500;
  }
  .filter .number {
    border-radius: 90px;
    width: 24px;
    height: 24px;
  }
  .filter .number__position {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 10px;
    margin-block: auto;
  }
  .filter .number__color {
    background-color: var(--primary-color);
    color: white;
  }
  .Card__Restaurants {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 50px 100px;
    background-color: whitesmoke;
  }
  .Card__Restaurants .Card {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    position: relative;
  }
  .Card__Restaurants .Card img {
    height: 231px;
    width: 498px;
    border-radius: 15px 15px 0 0;
  }
  .Card__Restaurants .Card img .Card__text {
    height: 231px;
    width: 498px;
  }
  .Card__Restaurants .Card img .Card__text i {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 400px;
    bottom: 50px;
    width: 22px;
    font-size: 22px;
  }
  .Card__Restaurants .Card__text__over {
    justify-content: center;
    align-items: center;
    width: 80px;
    position: absolute;
    left: 400px;
    height: 29px;
    border-radius: 2px;
    background: var(--tertiaire-color);
  }
  .title__photo img {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    width: 1440px;
    height: 300px;
  }
  .container__radius {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 1055px;
    height: 1221px;
  }
  footer {
    min-width: 1440px;
    background-color: #353535;
    color: white;
  }
  footer .footer__function {
    display: flex;
    margin-left: 20px;
    justify-content: end;
    order: 1;
  }
  footer .footer__function h1 {
    font-size: 18px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: 400;
    flex-shrink: 0;
    padding: 0;
    margin-right: 60px;
    order: 2;
  }
  footer .footer__function .footer__icons {
    width: 170px;
  }
  footer .footer__function .footer__icons i {
    margin-right: 15px;
    width: 11px;
    height: 13px;
  }
  footer .footer__function .footer__icons .footer__formulary {
    font-size: 16px;
    padding-bottom: 7px;
    width: 130px;
  }
}/*# sourceMappingURL=styles.css.map */