:root {
  --primary-color: #9356dc;
  /* var(--primary-color) */
  --second-color: #ff79da;
  /* var(--second-color) */
  --tertiaire-color: #99e2d0;
  /* var(--tertiaire-color) */
}
@mixin heart-color {
  i {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 290px;
    width: 22px;
    font-size: 26px;
    color: gray;
    border-radius: 50%;
    &:hover {
      color: var(--primary-color);
      cursor: pointer;
      transition: color 2s;
      transform: scale(1.5);
      transition: transform 1.1s;
      &::before {
        font-weight: bold;
      }
    }
  }
}
@mixin gradient-color {
  display: flex;
  font-family: Roboto;
  justify-content: center;
  padding-bottom: 57px;
  padding-top: 22px;
  .button {
    border-radius: 50px;
    height: 50px;
    width: 218px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  .button__gradient {
    margin: 20px 0 -15px 0;
    border-width: 0;
    background: linear-gradient(
      to right bottom,
      var(--second-color),
      var(--primary-color)
    );
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 2s;
      transform: scale(1.1);
      transition: transform 1.2s;
    }
  }
}
@mixin footer {
  background-color: #353535;
  color: white;
  .footer__function {
    margin-left: 20px;
    padding-bottom: 1%;
  }
  h1 {
    margin: 0 0 20px 10px;
    padding-top: 21px;
    font-size: 18px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    padding-bottom: 7px;
    margin-left: 10px;
    margin-block: 0;
  }
  i {
    margin-right: 20px;
    width: 10px;
    height: 13px;
    font-size: 14px;
  }
}
@mixin loader__menus {
  @keyframes loaders__menus {
    0% {
      transform: translate(30px);
    }
  }
}
.loader__container {
  display: flex;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 1000px;
  z-index: 1;
  justify-content: center;
  animation-duration: 2s;
  animation-name: loader__off;
  animation-fill-mode: both;
  span {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: #7303fd;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: 3s;
    animation-timing-function: ease-in-out;
    @keyframes dots {
      50% {
        opacity: 0;
        transform: scale(1) translateY(10px);
      }
    }
  }
  @keyframes loader__off {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 60%;
    }
    100% {
      opacity: 20%;
      display: none;
    }
  }
  /*overflow:*/
}
.container__function {
  max-width: 375px;
  background-color: white;
  margin-left: 17px;
  margin-right: auto;
  font-style: normal;
  line-height: normal;
}
/* body */
body {
  margin: 0px;
  font-family: Roboto;
}
// header //
header {
  size: 30px;
  .image {
    display: flex;
    justify-content: center;
    .header__image__size {
      height: 36px;
      margin: 20px 0 10px 0;
    }
    i {
      position: relative;
      right: 65px;
      top: 20px;
      font-size: 25px;
    }
  }
  .header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 50px;
    position: relative;
    i {
      margin-right: 17px;
    }
  }
}
.title__color {
  background-color: #f6f6f6;
  h2 {
    display: flex;
    margin: 0px 58px 0px 42px;
    width: 275px;
    height: 68px;
    font-size: 25px;
    text-align: center;
    color: black;
    padding-top: 40px;
    font-weight: 700;
  }
  p {
    width: 315px;
    margin: 0px 26px 0px 34px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: gray;
  }
}
.button__filter {
  color: white;
  @include gradient-color;
}
/* fonction*/
.function {
  padding: 40px 0 0 20px;
  margin: 0px;
}
.button__rond {
  border-color: transparent;
  border-radius: 20px;
}
.button__size {
  width: 350px;
  height: 72px;
  top: 505px;
}
.button__white {
  background-color: white;
}
.filter__function {
  display: flex;
  margin: 24px;
  justify-content: center;
  align-items: center;
  i {
    padding-inline: 0px 35px;
  }
  .purple {
    color: var(--primary-color);
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  .number {
    border-radius: 90px;
    width: 24px;
    height: 24px;
  }
  .number__position {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 10px;
    margin-block: auto;
  }
  .number__color {
    background-color: var(--primary-color);
    color: white;
  }
  .button__filter {
    @include gradient-color;
  }
}
/* Card */
.Card__Restaurants {
  padding: 20px 17px 60px 17px;
  background-color: whitesmoke;
  position: relative;
  .Card {
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 340px;
    margin: 20px 17px 10px 17px;
  }
  .Card img {
    height: 200px;
    width: 340px;
    border-radius: 15px 15px 0 0;
  }
  .Card__text {
    padding: 0 0 12px 13px;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin: 5px 0 0 0;
    }
    i {
      bottom: 50px;
    }
    @include heart-color;
  }
}
.Card__text__over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 280px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: var(--tertiaire-color);
}
.title__photo img {
  height: 300px;
  width: 100%;
  max-width: 425px;
  position: relative;
  object-fit: cover;
}
/* page restaurant*/
.container__card {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  background-color: #f6f6f6;
  top: -80px;
  padding-left: 20px;
  margin: 0 -10px -80px 0;
  .title__restaurant {
    padding-top: 36px;
    font-weight: 400;
    font-family: Shrikhand;
    font-size: 28px;
    margin-bottom: 0;
    i {
      bottom: 30px;
    }
    @include heart-color;
  }
  .loader__menus__1 {
    animation-name: loaders__menus;
    animation-duration: 4s;
    @include loader__menus;
  }
  .loader__menus__2 {
    animation-name: loaders__menus;
    animation-duration: 6s;
    @include loader__menus;
  }
  .loader__menus__3 {
    animation-name: loaders__menus;
    animation-duration: 8s;
    @include loaders__menus;
  }
  .different__menus {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    border-bottom-style: solid;
    width: 40px;
    font-size: 18px;
    margin: 40px 0 0 0;
    border-color: var(--tertiaire-color);
  }
  h3 {
    display: flex;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0 2px 8px;
  }
  h4 {
    display: flex;
    height: 19px;
    font-size: 15px;
    font-weight: 300;
    margin: 2px 0 0 8px;
  }
  p {
    font-weight: 700;
  }
  .filter__function__restaurant {
    .button__validation {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0;
      .contain__plats {
        flex: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .contain__validation {
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        background-color: #99e2d0;
        height: 100%;
        width: 0%;
        border-radius: 0 15px 15px 0;
        border-color: #99e2d0;
        font-size: 20px;
        visibility: hidden;
        transition: all 2s;
      }
      &:hover .contain__validation {
        visibility: visible;
        width: 15%;
        transition: width 2s;
      }
    }
  }
}
.page {
  padding: 0;
}
/* footer */
footer {
  @include footer;
  margin-right: -25px;
}
@media screen and (min-width: 1280px) {
  body {
    min-width: 1480px;
  }

  header {
    .image {
      margin: 10px;
      padding: 50px;
      i {
        right: 500px;
      }
    }
  }
  .container {
    align-items: center;
    padding: 0;
  }
  .container__function {
    height: 200px;
  }
  .title__color {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 10px;
    gap: 30px;
    align-items: center;
    h2 {
      width: 645px;
      height: 68px;
      font-size: 40px;
      color: #000;
    }
    p {
      width: 531px;
      margin: 0px 26px 0px 34px;
      height: 46px;
      font-size: 18px;
      font-weight: 300;
      color: gray;
    }
  }
  .filter {
    display: flex;
    padding-left: 140px;

    .filter__function {
      padding-block-start: 20%;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      i {
        padding-inline: 0px 35px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .number {
      border-radius: 90px;
      width: 24px;
      height: 24px;
    }
    .number__position {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      left: 10px;
      margin-block: auto;
    }
    .number__color {
      background-color: var(--primary-color);
      color: white;
    }
  }
  .function {
    padding: 10px 0 0 150px;
  }
  .Card__Restaurants {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 50px 100px;
    padding-block-start: 7%;
    padding-left: 150px;
    .Card img {
      height: 230px;
      max-width: 480px;
      width: 100%;
    }
    .Card {
      width: 480px;
      background-color: white;
      border-radius: 15px;
      position: relative;
    }
    .Card__text {
      position: relative;
      height: 231px;
      width: 498px;
      i {
        position: absolute;
        justify-content: center;
        align-items: center;
        left: 450px;
        top: -150px;
        width: 22px;
        font-size: 22px;
      }
      p {
        padding: 30px 0 0 0;
      }
      h2 {
        padding: 0 0 0 0;
        margin: auto;
      }
    }
  }
  h2 {
    position: absolute;
  }
  .Card__text__over {
    justify-content: center;
    align-items: center;
    width: 80px;
    left: 390px;
    height: 29px;
    border-radius: 2px;
    background: var(--tertiaire-color);
  }
  .title__photo img {
    position: relative;
    object-fit: cover;
    width: 1440px;
    height: 400px;
    max-width: 100%;
  }
  .container__card {
    display: grid;
    justify-content: center;
    background-color: whitesmoke;
    width: 80%;
    height: 1221px;
    margin-left: 11%;
    margin-bottom: -80px;
    .different__menus {
      h2 {
        margin: 0;
      }
      p {
        justify-items: end;
      }
    }
  }
  footer {
    min-width: 1440px;
    min-height: 112px;
    background-color: #353535;
    color: white;
    display: grid;
    justify-content: end;
  }
  .footer__function {
    display: flex;
    justify-content: end;
    margin-inline: 30px;
    flex-wrap: wrap-reverse;
    align-content: end;
    h1 {
      display: flex;
      padding-left: 40px;
      margin-right: 60px;
      order: 2;
    }
    .footer__icons {
      display: flex;
      align-items: center;
      margin: 0 10px;
      i {
        margin: 0 15px;
        width: 11px;
        height: 13px;
      }
    }
    .footer__formulary {
      display: flex;
      align-items: center;
      font-size: 16px;
      width: 200px;
    }
  }
}
