:root {
    --primary-color: #9356dc;
    /* var(--primary-color) */
    --second-color: #ff79da;
    /* var(--second-color) */
    --tertiaire-color: #99e2d0;
    /* var(--tertiaire-color) */
}
.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}
/* body */
body {
    margin: 0px;
}
/* header */
header {
    font-family: Roboto;
    size: 30px;
    .image {
        display: flex;
        justify-content: center; 
        .header__image__size {
            height: 36px;
            margin: 30px 0;
            .header__location {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #EAEAEA;
                height: 50px;      
                .header__location i{
                    margin-right: 17px;
                }
            }
        }
    }
}
.test {
    display: flex;
    margin: 0px 56px;
}
.title__color {
    background-color: whitesmoke
}
/* fonction*/
.filter__function{
    display: flex;
    justify-content: center;
    margin: 24px;
    .function{
        padding-left: 20px;
    }
}
.button{
    height: 50px;
    width: 218px;
    .button__filter{
        display: flex;
        justify-content: center;
        padding-bottom: 57px;
        padding-top: 22px;
        .button__purple{
            background-color: var(--primary-color);
            color: white;
            .button__rond{
                border-color: transparent;
                border-radius: 20px;
                .button__size{
                    width: 335px;
                    height: 72px;
                    top: 505px;
                    .button__white{
                        background-color: white;
                    }
                }
            }
        }
    }
}
/* Card */
.Card_Restaurants{
    padding: 0 18px 0 17px;
}
.Card img{
    height: 231px;
    width: 346px;
}
/* footer */
footer{
    background-color: #353535;
    color: white;
    .footer__function{
        margin-left: 20px;
    }
}
.title__photo{
    width: 375px;
    height: 275px;
}