:root {
  --primary-color: #9356dc;
  /* var(--primary-color) */
  --second-color: #ff79da;
  /* var(--second-color) */
  --tertiaire-color: #99e2d0;
  /* var(--tertiaire-color) */
}
.container {
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-family: Roboto;
  line-height: normal;
  background-color: whitesmoke;
}
/* body */
body {
  margin: 0px;
}
// header //
header {
  font-family: Roboto;
  size: 30px;
  .image {
    display: flex;
    justify-content: center;
    .header__image__size {
      height: 36px;
      margin: 30px 0;
    }
    i{
      position: relative;
      right: 50px;
      top: 30px;
      font-size: 30px;
    }
  }
  .header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 50px;
    i {
      margin-right: 17px;
    }
  }
}
.title__color {
  background-color: whitesmoke;
  padding: 10px;
  h2{
    display: flex;
    margin: 0px 58px 0px 42px;
    width: 275px;
    height: 68px;
    font-size: 24px;
    text-align: center;
    color: #000;
  }
  p{
    width: 315px;
    margin: 0px 26px 0px 34px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: gray;
  }
}
/* fonction*/
.function {
 padding: 48px 0px 2px 20px;
 margin: 0px;
}
.button__filter {
  display: flex;
  justify-content: center;
  padding-bottom: 57px;
  padding-top: 22px;
  .button {
    height: 50px;
    width: 218px;
  }
  .button__gradient {
    border-width: 0;
    background: linear-gradient(
      to right bottom,
      var(--second-color),
      var(--primary-color)
      );
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
    a{
      color: white;
      font-size: 16px;
      text-decoration: none;
    }
  }
  .button__rond {
    border-color: transparent;
    border-radius: 20px;
  }
  .button__size {
    width: 335px;
    height: 72px;
    top: 505px;
  }
  .button__white {
    background-color: white;
  }
  .filter__function {
    display: flex;
    margin: 24px;
    justify-content: center;
    align-items: center;
    i {
      padding-inline: 0px 35px  ;
    }
    .purple{
      color: var(--primary-color);
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }
    .number {
      border-radius: 90px;
      width: 24px;
      height: 24px;
    }
    .number__position{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      left: 10px;
      margin-block: auto;
    }
    .number__color{
      background-color: var(--primary-color);
      color: white;
    }
  }
/* Card */
.Card__Restaurants {
  padding: 0 18px 0 17px;
  margin: 0;
  background-color: whitesmoke;
  .Card{
    background-color: white;
    border-radius: 15px;
    margin: 20px 0 ;
  }
    .Card img {
      height: 251px;
      width: 340px;
      border-radius: 15px 15px 0 0;
  }
  .Card__text{
    padding: 0 0 12px 13px;
    i{
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      left: 293px;
      bottom: 50px;
      width: 22px;
      font-size: 22px;
    }
  }
  .Card__text__over {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    left: 250px;
    top: 60px;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background: var(--tertiaire-color);
  }
}
.title__photo img {
  width: 375px;
  height: 275px;
}
/* page restaurant*/
.container__radius{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 60px;
  padding-left: 10px;
  }
  .page{
    padding: 0;
  }
/* footer */
footer {
  background-color: #353535;
  color: white;
  .footer__function {
    margin-left: 20px;
    padding-bottom: 1%;
  }
  h1{
    padding-top: 21px;
    font-size:  18px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: 400;
  }
  p{
    font-size: 16px;
    padding-bottom: 7px;
    margin: 0;
  }
  i{
    margin-right: 11px;
    width: 11px;
    height: 13px;
  }
}

@media screen and (min-width: 1280px ){
  .container{
    min-width: 1440px;
    align-items: center;
    padding-left: 180px;
  }
  .title__color {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10px;
    gap: 30px;
    align-items: center;
    h2{
      width: 645px;
      height: 68px;
      font-size: 40px;
      color: #000;
    }
    p{
      width: 531px;
      margin: 0px 26px 0px 34px;
      height: 46px;
      font-size: 18px;
      font-weight: 300;
      color: gray;
    }
  }
  .filter__function {
    display: grid;
    grid-template-columns: repeat(3,0fr);
    margin: 24px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    i{
      padding-inline: 0px 35px  ;
    }
    p{
      font-size: 16px;
      font-weight: 500;
    }
    .number {
      border-radius: 90px;
      width: 24px;
      height: 24px;
    }
    .number__position{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      left: 10px;
      margin-block: auto;
    }
    .number__color{
      background-color: var(--primary-color);
      color: white;
    }
  }
  .function {
    padding: 0;
  }
  .Card__Restaurants {
    display: grid;
    grid-template-columns: repeat(2,0fr);
    grid-gap: 50px 100px;
    background-color: whitesmoke;
    .Card{
      width: 500px;
      height: 400px;
      background-color: white;
      border-radius: 15px;
    }
      .Card img {
        height: 231px;
        width: 498px;
        border-radius: 15px 15px 0 0;
    }
    .Card__text{
      height: 231px;
      width: 498px;
      i{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        left: 400px;
        bottom: 50px;
        width: 22px;
        font-size: 22px;
      }
    }
    .Card__text__over {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 400px;
      top: 60px;
      width: 80px;
      height: 29px;
      border-radius: 2px;
      background: var(--tertiaire-color);
    }
  }
  footer {
    
    min-width: 1440px;
    background-color: #353535;
    color: white;
    .footer__function {
      display: flex;
      justify-items: end;
      margin-left: 20px;
      padding-bottom: 1%;
    }
    h1{
      display: flex;
      align-items: flex-end;
      padding-top: 21px;
      font-size:  18px;
      font-family: Shrikhand;
      font-style: normal;
      font-weight: 400;
      margin-top: 0;
    }
    p{
      font-size: 16px;
      padding-bottom: 7px;
      margin: 0;
    }
    i{
      margin-right: 11px;
      width: 11px;
      height: 13px;
    }
  }
}